test {
	background-color: aqua;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 20px;
	letter-spacing: 2px;
	word-spacing: 2px;
	color: #000000;
	font-weight: bold;
	text-decoration: normal;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	text-align: center;
}